<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_admin::head(~{::title})">
    <title>分类管理</title>
</head>
<body>
    <!--导航-->
    <div th:replace="_admin::nav(3)"></div>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a th:href="@{/admin/toTagsIn}" class="item">发布</a>
                <a th:href="@{/admin/toTags}" class="item">列表</a>
            </div>
        </div>
    </div>
    <!--中间内容 grid 分16份-->
    <div class="ui m-container-small m-padded-tb-big">
        <div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${msg}">恭喜操作成功</p>
        </div>
        <table class="ui table">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tag,tagStart : ${pageInfo.list}">
                    <td th:text="${tagStart.count}">1</td>
                    <td th:text="${tag.name}"></td>
                    <td>
                        <a th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                        <a th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${pageInfo.pages} > 1">
                            <a th:href="@{/admin/toTags(pageNum=${pageInfo.pageNum}-1)}" class="item" th:unless="${pageInfo.isFirstPage}">上一页</a>
                            <a th:href="@{/admin/toTags(pageNum=${pageInfo.pageNum}+1)}" class="item" th:unless="${pageInfo.isLastPage}">下一页</a>
                        </div>
                        <a th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!--底部footer-->
    <footer th:replace="_fragments::footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    })
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    //消息提示关闭
    $('.message .close').on('click',function (){
        $(this).closest('.message')
            .transition('fade')
    });
</script>
</body>
</html>